.header {
	display: flex;
	justify-content: space-around;
	background: url("../header-bkgd.jpeg") center;
	background-size: cover;
	height: 200px;
	border: 1px solid black;
	margin: -50px 0 50px 0;
}

.wrap{
	display: flex;
	width: 100%;
	justify-content: space-around;
	background-color: rgba(255, 255, 255, 0.5);
	padding: 20px;
}

.header-h1{
	font-family: 'Ramaraja', serif;
	font-weight: 800;
	font-size: 70px;
	text-shadow: 5px 5px 5px white;
	color: navy;
}

nav {
	display: none;
}

nav:hover {
	display: block;
}

a {
	text-decoration: none;
	color: navy;
	cursor: pointer;
}

a:hover {
	text-shadow: 5px 5px 5px white;
}

li {
	list-style: none;
	color: navy;
}

.nav-bar {
	cursor: pointer;
}

.nav-bar:hover {
	text-shadow: 5px 5px 5px white;
}

.nav-bar > ul > li {
	visibility: hidden;
}

.nav-bar:hover > ul > li{
	visibility: visible;
}

ul {
	padding: 0;
}