.modal {
	/*position: fixed;*/
	display: block;
	top: 0;
	left: 0;
	width: max-content;
	height: 50%;
	background: rgba(0, 0, 0, 0.6);
}

.modal-main {
	/* to style later */
	position: fixed;
	background: navy;
	border: 3px solid black;
	border-radius: 20px;
	padding: 10px;
	left: 50%;
	top: 50%;
	/*width: max-content;*/
	/*height: auto;*/
	/*max-height: 50%;*/
	/*overflow: scroll;*/
	transform: translate(-50%,-50%);
}

.display-none {
	display: none;
}

.results-text {
	text-shadow: none;
	color: white;
	font-weight: 700;
}

.modal-button {
	color: navy;
	font-weight: 700;
	margin: 10px;
}