.user-profile-title, .user-profile-restaurants {
	color: white;
}

.profile-wrap {
	width: 60%;
	margin: 0 auto;
	padding: 10px;
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 50px;
}

.saved-wrap {
	height: 300px;
	overflow: scroll;
	margin: 10px 0;
}

.display-none {
	display: none;
}

.profile-button {
	width: 150px;
}

.profile-form {
	padding: 10px;
	color: white;
	font-weight: 700;
}