.user-profile-title, .user-profile-restaurants, .profile-form {
	color: white;
}

.profile-wrap, .profile-form {
	padding: 10px;
}

.profile-wrap {
	width: 60%;
	margin: 0 auto;
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 50px;
}

.saved-wrap {
	height: 300px;
	overflow: scroll;
	margin: 10px 0;
}

.profile-button {
	width: 150px;
}

.profile-form {
	font-weight: 700;
}